<h1>Click Quest - Edit a Mob (NOT FOR YOU TO TOUCH, USER!)</h1>

<%= form_for [@mob], :url => player_mob_path do |f| %>

	<%= f.label :mob_name, "Name the mob:" %>
	<%= f.text_field :mob_name %>
	<br>
	<%= f.label :mob_armor, "Mob armor:" %>
	<%= f.text_field :mob_armor %>
	<br>
	<%= f.label :mob_damage, "Mob damage:" %>
	<%= f.text_field :mob_damage %>
	<br>
	<%= f.label :mob_gold, "Mob gold:" %>
	<%= f.text_field :mob_gold %>
	<br>
	<%= f.label :mob_max_hp, "Mob's max HP:" %>
	<%= f.text_field :mob_max_hp %>
	<br>
	<%= f.label :mob_cur_hp, "Mob's current HP:" %>
	<%= f.text_field :mob_cur_hp %>
	<br>
	<%= f.label :mob_hit, "Mob's initial hit:" %>
	<%= f.text_field :mob_hit %>
	<br>
	<%= f.submit "Update" %>

<% end %>

<br>

<%= link_to "Delete the poor little #{@mob.mob_name}?", @mob, method: :delete, data: { confirm: "Seriously? That's cold." } %>